name: ayah_today_app
description: Ayah Today App - Offline Version 2026
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  font_awesome_flutter: ^10.7.0
  screenshot: ^3.0.0
  share_plus: ^10.1.0
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - quran.txt
    - fds.png
    - fdss.png
