name: Build Flutter APK
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.x.x' # يستخدم أحدث نسخة مستقرة في 2026
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AyahToday-Final-APK
          path: build/app/outputs/flutter-apk/app-release.apk
